.footer{
    background-color: black;
    width: 7%;
    /*height: calc(100vh - 91px); */
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
 
   
    }
    .icon{
    margin-top: 20px;
    width: 75%;
    height: 75%;
    align-self:center;
    }
    .imgCopiryght{
    width: 15px;
    height: 130px;
    align-self:center;
    margin-top: 170px;
    padding-bottom: 40PX;
    }
    @media (min-width: 1424px) {
        .footer{
            padding-top: 180px;
          
           
            }   
            .imgCopiryght{
                width: 20px;
                height: 160px;
                align-self:center;
                margin-top: 180px;
                padding-bottom: 40PX;
                }
    }