#chartBarDiv{
    background-color: rgba(251, 251, 251, 1);
    width: 95%;
    height: 100%;
 
    margin-top: 40px;
    margin-bottom: 80px;
    border-radius: 5px;
    padding-left: 20px;
}
.info-graphic{
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-between;
  }
    .title-graphic{
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        margin-bottom: 40px;
        margin-top: 20px;
        margin-left: 25px;
       
    }
    .legends{
        font-size: 12px;
        display: flex;
        flex-direction: row;
       margin-bottom: 40px;
        margin-top: 20px;
        
    }
        .circle{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-right: 30px;
        }
            .point{
                height: 8px;
                width: 8px;
                border-radius: 50%; 
                background-color: #020203;
            }
            .red{
                background-color: #ff0101;
            }
            .black{
                background-color: #020203;
            }
            @media (min-width: 1440px) {
                #chartBarDiv{
                    width: 95%;
                   
                  
                }
               
            }