#radarchartDiv{
background-color: rgba(40, 45, 48, 1);
width: 30%;
height: 200px;
border-radius: 5px;

}
@media (min-width: 1440px) {
    
  
    #radarchartDiv{
       
        height: 270PX;
   
      
}
}