#radarchartDiv{
background-color: rgba(40, 45, 48, 1);
width: 21%;
height: 210px;
border-radius: 5px;

}
@media (min-width: 1200px) {
    
  
    #radarchartDiv{
       
        height: 270PX;
   
      
}
}