.info-card{
    height: 800px;
    margin-left: 1200px;
    display: flex;
    flex-direction: column;
    
    }
.divInfo{
    display: flex;
    justify-content: space-between;
    height: 140px;
width: 270px;
margin-top: 50px;
background-color: rgba(251, 251, 251, 1);
}
.imgInfo{
width: 80px; 
height: 80px;
padding:30px;

}
span{
margin-top: -10px;
    font-size: 13px;
    padding-right: 50px;
    font-weight: 100;
  
  
}
.flex-card{
   
display: flex;
flex-direction: column;
}
.titre-info{
    font-size: 18px;
    margin-left: 0px;
    padding-top: 35px;
}