@font-face {
    font-family: "Roboto";
    src: url(../assets/font/Roboto-Regular.ttf);
  }
body{
    font-family: "roboto";
    margin: 0;
}

h1{
    margin-left: 200px; 
    font-size: 35px;
    font-weight: 600;
  
}

p{
    margin-left: 200px;
    font-size: 18px; 
    font-weight: 500; 
}

/* .container-div{
  
    
} */
/* .flex-charts{
display: flex;
} */