.profil-title{
    margin-top: 60px;
margin-left: 10%;
font-size: 30px;
}
.profil-span{
  
    font-size: 30px; 
    color:red; 
}
.profil-p{
    margin-left: 10%;
    font-size: 14px; 
}  
@media (min-width: 1440px) {
    .profil-title{
        margin-top: 80px;
        margin-left: 13%;
        font-size: 40px;
        }
        .profil-span{
           
            font-size: 40px; 
            
        }
        .profil-p{
            margin-left: 13%;
            font-size: 20px; 
        }
   
}
