
 a{
    text-decoration: none;
  }
  ul{
    display: flex;
    justify-content: space-between;

  }
  li{
    padding-left: 90px;
    list-style-type: none;
   color: white;
   font-size: 25px;
   margin-top: 20px;
   font-weight: 500;
  }
  .logo {
   padding-left: 20px;
   padding-top: 20px;
  }
    .logoimg {
      height: 70px; 
      width: 180px;
    
   
  }
  .header{
width: 100%;
height: 100px;
background-color: black;
display: flex;
  }

  @media (min-width: 1440px) {
    li{
      padding-left: 200px;
    
    }
   
}
