#linechartDiv{
    background-color: rgba(255, 0, 0, 1);
    width: 30%;
    height: 200PX;
  border-radius: 5px;
  margin-right: 2%;
 
   
}

    .titleLineChart{
        padding: 20px;
        color: white;
        opacity: 0.7;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        position: absolute;
       
      
    }
    @media (min-width: 1440px) {
      #linechartDiv 
  
  {
         
          height: 270PX;
          margin-right: 2%;
        
  }
  }



      
     

